/* PALETA DE COLORES  */
:root {
    --ColorFondo: linear-gradient(180deg, rgba(28, 68, 111, 1) 35%, rgba(31, 93, 159, 1) 100%);
    ;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

body {
    background: var(--ColorFondo) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
}

*,
*:before,
*:after {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}

.section {
    margin-top: 25px;
    margin-bottom: 25px;
}

li {
    list-style-type: none;
}

.wrapper {
    width: 95%;
    margin-left: 2.5%;

}

/* HERO */

nav {
    height: 15rem;
    max-width: 100%;
}

.hero {
    width: 95%;
    background: white;
    margin: 0 auto;
}

.heroImage {
    max-width: 100%;
    /* border-radius: 50%; */
}

.objectfit {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.objectfit>img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #ffffff;
    z-index: 1000;
    margin: -22px;

}

@media (max-width: 428px) {
    .objectfit {
        margin-top: -20px;
    }

    .objectfit>img {
        margin: 8px;
    }


}

@media (min-width: 900px) {
    .heroImage {
        max-width: 58%;
    }

}

.tituloHeader {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}

.galeria__subtitulo {
    width: 100%;
    margin: 0;
    padding: 1rem;
    height: 3rem;
    z-index: 1000;
    font-weight: 700;

}


/* REDES */
.redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.routes {
    border-radius: 50%;
    /* background-color: #FFFF; */
    padding: 1rem;
}

.links {
    max-width: 3rem;
}

.rutasEnlaces {
    margin-top: 21%;
}

/* MEDIA QUERIES  */
/* @media (max-width: 300px) {
    .rutasEnlaces {
        margin-top: 0px;
    }
}
@media (min-width: 522px) {
    .rutasEnlaces {
        margin-top: 0px;
    }
} */
/* CARRUSEL DE SERVICIOS  */

.containerServicios {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
}

.containerServicios .itemServicios {
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;

}

.itemServicios {
    background-color: aqua;
    cursor: pointer;
}

#formulario {
    width: 90%;
    margin: 0 auto;
}